doctype html
html(lang='en')
  include ./layout/head.pug
  body.home
    main#main.main
      include ./layout/header.pug
      include ./layout/section.pug
    include ./layout/footer.pug
    include ./layout/scripts.pug
